@charset "utf-8";
* {
   box-sizing: border-box;
}

body {
   margin: 0;
   padding: 0;
   font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
   background-color: #08001e;
   letter-spacing : 0.2em;
}

@media screen and (min-width: 960px) {
   body {
      margin: 0;
      padding: 0;
      font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
      background-color: #060017;
      letter-spacing : 0.2em;
   }	
}


.news-banner {
   width: 26ch; 
   /* // 文字数分の長さに設定 */
   animation: typing 2.5s steps(30), blink .5s step-end infinite alternate;
   white-space: nowrap; 
   /* // 必須 */
   overflow: hidden; 
   /* // 必須 */
   border-right: 3px solid;
    /* // カーソルの大きさを設定する */
   font-size: 2em;

   background: -webkit-linear-gradient(#5199EA,#5696E8,#777EE0,#C447CB,#BD4CCD);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent; 
 }

 @keyframes typing {
   from {
     width: 0 
     /* // 行頭から開始 */
   }
 }
     
 @keyframes blink {
   50% {
     border-color: transparent 
     /* // チカチカする表現部分 */
   }
 }

header {
   padding: 30px 4% 10px;
   position: fixed;
   top: 0;
   width: 100%;
   background-color: transparent;
   display: flex;
   align-items: center;
}
h1 {
   margin: 0; padding: 0;
   font-size: 20px;
}
a {	
   text-decoration: none;
   color: #fff;
}

/* 親要素のスタイル */
.container {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: 100vh; /* 縦方向の中央揃えのため */
}

/* リンク要素のスタイル */
a.twitter {
   color: #ffffff;
   border: 5px double transparent;
   border-radius: 80px;
   background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)), radial-gradient(circle at left top, rgb(1, 110, 218), rgb(217, 0, 192));
   background-origin: border-box;
   background-clip: padding-box, border-box;
   font-size: 20px;
   margin: 10px 0; /* リンク間のスペースを調整 */
   padding: 10px 0; /* 上下のパディング */
   display: inline-block;
   font-family: system-ui;
   text-align: center; /* テキストを中央揃え */
   width: 250px; /* 幅を固定 */
   box-sizing: border-box; /* パディングとボーダーを含む幅を計算 */
}


@media screen and (min-width: 960px) {
   a.twitter {
      color: #ffffff;
   border: 5px double transparent;
   border-radius: 80px;
   background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)), radial-gradient(circle at left top, rgb(1, 110, 218), rgb(217, 0, 192));
   background-origin: border-box;
   background-clip: padding-box, border-box;
   font-size: 20px;
   margin: 10px 0; /* リンク間のスペースを調整 */
   padding: 10px 0; /* 上下のパディング */
   display: inline-block;
   font-family: system-ui;
   text-align: center; /* テキストを中央揃え */
   width: 400px; /* 幅を固定 */
   box-sizing: border-box; /* パディングとボーダーを含む幅を計算 */
   }	
}

nav {
   margin: 0 0 0 auto;
}
ul {
   list-style: none;
   margin: 0;
   display: flex;
}
li {
   margin: 0 0 0 15px;
   font-size: 14px;
}
.main-visual {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background: url('main_visual.jpg') top center / cover no-repeat;
}
h2 {
   margin: 0;
   font-size: 30px;
   font-weight: normal;
   color: #fff;
}

.sp-nav {
   display: none;
}

@media screen and (max-width: 640px) {
   .pc-nav {
      display: none;
   }
   .sp-nav {
      z-index: 1;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      display: block;
      width: 100%;
      background: rgba(0, 0, 0, .8);
      opacity: 0;
      transform: translateY(-100%);
      transition: all .2s ease-in-out;
   }
   #hamburger {
      position: relative;
      display: block;
      width: 30px;
      height: 25px;
      margin: 0 0 0 auto;
   }
   #hamburger span {
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 100%;
      height: 2px;
      background-color: #fff;
      transform: translateY(-50%);
   }
   #hamburger::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #fff;
   }
   #hamburger::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 70%;
      height: 2px;
      background-color: #fff;
   }
   /*スマホメニュー*/
   .sp-nav ul {
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
   }
   .sp-nav li {
      margin: 0;
      padding: 0;
   }
   .sp-nav li span {
      font-size: 15px;
      color: #fff;
   }
   .sp-nav li a, .sp-nav li span {
      display: block;
      padding: 20px 0;
   }
   /*-閉じるアイコンー*/
   .sp-nav .close {
      position: relative;
      padding-left: 20px;
   }
   .sp-nav .close::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 16px;
      height: 1px;
      background: #fff;
      transform: rotate( 45deg );
   }
   .sp-nav .close::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 16px;
      height: 1px;
      background: #fff;
      transform: rotate( -45deg );
   }
   .toggle {
      transform: translateY( 0 );
      opacity: 1;
   }
   .main-visual {
      padding: 0 4%;
   }
   h2 {
      line-height: 1.6;
      text-align: center;
   }
}
/* ヘッダーここまで */

/* バナー本体 */
.news-banner {
    display: block;
    height: 100%;
    width: 100%;
    background-color: #060017;
    overflow: hidden;
    margin-top: 100px;
  }
  
  /* バナー内コンテンツ */
  .news-banner__content {
    display: inline-block;
    background: -webkit-linear-gradient(#5199EA,#5696E8,#777EE0,#C447CB,#BD4CCD);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
    line-height: 10px;
    padding-left: 100%;
    white-space: nowrap;
    animation: animate-banner 5s linear infinite;
    font-size: 20px;
  }

  @media screen and (min-width: 960px) {
	.news-banner__content {
        display: inline-block;
        background: -webkit-linear-gradient(#5199EA,#5696E8,#777EE0,#C447CB,#BD4CCD);
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
        line-height: 10px;
        padding-left: 100%;
        white-space: nowrap;
        animation: animate-banner 8s linear infinite;
        font-size: 60px;
    }
}
  
  /* バナー内の要素をすべて選択 */
  .news-banner__content > * {
    display: inline-block;
  }
  
  /* 横にスクロールさせるアニメーション */
  @keyframes animate-banner {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @media screen and (min-width: 960px) {
  img.ytw {
    display: block;
     margin-left: auto;
     margin-right: auto;
     width: 100px;
     height: 100px; 
  }
}

img.ytw {
    display: block;
     margin-left: auto;
     margin-right: auto;
     width: 70px;
     height: 70px; 
  }
  
  p.yc1{
   color: #ffffff;
   margin-top: 100px;
   text-align: center;
   font-size: 40px;
   padding: 15px 25px;
   margin: 30px auto 0;
   text-shadow: 0 0 80px rgb(192 219 255 / 75%), 0 0 32px rgb(65 120 255 / 24%);
  }

  @media screen and (min-width: 960px) {
  p.yc1{
    color: #ffffff;
     margin-top: 100px;
     text-align: center;
     font-size: 80px;
     padding: 15px 25px;
     margin: 110px auto 0;
     text-shadow: 0 0 80px rgb(192 219 255 / 75%), 0 0 32px rgb(65 120 255 / 24%);
  }
}

/* 基本スタイル */
img.yp1 {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 250px;
   height: 250px;
   border: 5px solid transparent;
   border-radius: 40%;
   padding: 5px;
   background:
   padding-box linear-gradient(white,white),
   border-box repeating-linear-gradient(#5199EA,#5696E8,#777EE0,#C447CB,#BD4CCD);
   opacity: 0;
   transform: translateY(20px);
   transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

/* アニメーションを適用するクラス */
img.yp1.animate {
   opacity: 1;
   transform: translateY(0);
}




@media screen and (min-width: 960px) {
img.yp1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 480px;
    height: 500px;
    border: 13px solid transparent;
    border-radius: 40%;
    padding: 10px;
    background:
    padding-box linear-gradient(white,white),
    border-box repeating-linear-gradient(#5199EA,#5696E8,#777EE0,#C447CB,#BD4CCD);
    opacity: 0;
   transform: translateY(20px);
   transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    
 }
}

img.yz1 {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 150px;
   height: 150px;
   border: 3px solid transparent;
   border-radius: 80%;
   padding: 3px;
   background:
   padding-box linear-gradient(white,white),
   border-box repeating-linear-gradient(#5199EA,#5696E8,#777EE0,#C447CB,#BD4CCD);
}

@media screen and (min-width: 960px) {
img.yz1 {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 480px;
   height: 500px;
   border: 13px solid transparent;
   border-radius: 80%;
   padding: 5px;
   background:
   padding-box linear-gradient(white,white),
   border-box repeating-linear-gradient(#5199EA,#5696E8,#777EE0,#C447CB,#BD4CCD);
}
}

ul.image {
   display: flex;
 }

p.yw {
    font-size: 25px;
    color: #364e96;/*文字色*/
    padding: 0.5em 0;/*上下の余白*/
    border-top: solid 3px #364e96;/*上線*/
    border-bottom: solid 3px #364e96;/*下線*/
    text-align: center;
    margin: 10px auto 10px;
    letter-spacing: 2px;
  }

  @media screen and (min-width: 960px) {
    p.yw {
        font-size: 40px;
        
      }
}

p.yw2 {
    text-align:center;
     font-size: 17px;
     font-family: 'Roboto',arial,sans-serif;
     background: -webkit-linear-gradient(#5199EA,#5696E8,#777EE0,#C447CB,#BD4CCD);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
  }

  @media screen and (min-width: 960px) {
    p.yw2 {
        text-align:center;
         font-size: 50px;
         font-family: 'Roboto',arial,sans-serif;
         background: -webkit-linear-gradient(#5199EA,#5696E8,#777EE0,#C447CB,#BD4CCD);
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
      }
}

p.y {
  background: -webkit-linear-gradient(#5199EA,#5696E8,#777EE0,#C447CB,#BD4CCD);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    font-size: 25px;
    text-align: center;
  }
